body{
 background:#12e2c9;
 font-family:'Trebuchet MS';

} 

.main{
	 width:1000px;
	 height:500px;
	 margin:0 auto;
	 margin-top:100px;
	 border:3px solid red; 
}

.main .left{
	width:50%;
	height:100%;
	float:left;
	text-align:center;
	background:#e53939;
	position:relative;
	
}

.main.left h1{
    margin-top:100px;
}

.left form input{
    text-align:center;
	width:70%;
	height:35px;
	margin-bottom:10px;
	border:none;
	background:#f8f8f8;
	border-radius:25px;
}
.left form input:focus{
    outline:none;
}

.left form input[type="submit"]{
    background:#ffbf37;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
} 	
.left form input[type="submit"]:hover{
	background:#000;
}

.left p.forget:hover{
	cursor:pointer;
	text-decoration:underline;
}

.left p.or{
	font-size:15px;
	width:40px;
	height:30px;
	padding-top:10px;
	background:#e53939;
	border-radius:50%;
	position:absolute;
	left:96%;
}

.main .right{
	text-align:center;
}

.main .right h1{
	margin-top:100px;
}
.right .social{
	margin-top:40px;
}

.social button{
    border:none;
    padding:15px;
	width:50px;
	font-size:18px;
	background:#fff;
	margin-right:10px;
	border-radius:50%;
	
}	
.social .twitter{
	 color:#55acee;
}
.social .twitter:hover{
    background:#55acee;
    color:#fff;
	cursor:pointer;
}

.social .facebook{
    color:#012677;
}

.social .facebook:hover{
	background:#012677;
	color:#fff;
	cursor:ponter;
}

.social .google{
	color:#d50f25;
}

.social .google:hover{
	background:#d50f25;
	color:pointer;
}
	